@use "../custom" as *;
@use "../components/mixins" as *;

.contact {
  padding: 1.5rem;
  background-color: $gray-200;

  &__start {
    padding: 1rem;

    @include media-breakpoint-up(sm) {
      padding: 3rem;
    }

    h3 {
      margin-top: 0;
      padding-top: 0;
    }

    p {
      font-weight: bold;
    }
  }

  &__list {
    padding-top: 0.5rem;
    padding-left: 1rem;

    @include media-breakpoint-up(sm) {
      padding-left: 2rem;
    }

    position: relative;
    display: block;
    list-style-type: none;

    li {
      font-weight: bold;
      padding-bottom: 0.5rem;

      i {
        font-weight: 900;
        font-size: 1.2rem;
      }
    }
  }

  &__form {
    padding: 1rem;

    @include media-breakpoint-up(sm) {
      padding: 3rem;
    }

    button {
      border: none;
      font-weight: bold;
      font-size: 1.1rem;

      i {
        margin-right: 0.5rem;
      }
    }
  }
}
