@use "../custom" as *;
@use "../components/mixins" as *;

.education {
  padding: 0;
  position: relative;

  @include gradient;

  &__description {
    background-color: rgba($white, 0.8);
    padding: 2rem 1.25rem;
    height: auto;
    border-radius: 0.625rem;
    text-align: center;

    i {
      color: rgba($primary, 0.8);
      font-size: 1.25rem;
    }

    a {
      color: $primary !important;
      text-decoration: none !important;
      font-weight: bold;

      &:hover,
      &:visited {
        color: $primary !important;
      }

      &:hover {
        text-decoration: underline !important;
        cursor: pointer;
      }
    }
  }

  &__provider-pic {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 6rem;
    height: 6rem;

    img {
      width: 100%;
      height: 100%;
      border: 0.325rem solid rgba($primary, 0.8);
    }
  }

  &__provider-name {
    color: $white;
    text-align: center;
    padding-top: 4rem;

    h3 {
      font-weight: bold;
    }

    p {
      font-size: 1.1rem;
    }
  }
}
