@use "../custom" as *;
@use "../components/mixins" as *;

.portfolio {
  padding: 4rem 0;

  button {
    text-transform: capitalize;
  }

  &__item {
    border-top: 10px solid;
    border-image: linear-gradient(to right, $primary, $secondary);
    border-image-slice: 1;
    border-radius: 10px;
    position: relative;
    width: 100%;
    height: 20rem;
    overflow: hidden;
    margin-bottom: 2rem;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &:hover {
      img {
        transform: scale(1.2);
        @include transitionProperty;
      }
      .portfolio__info {
        opacity: 1;
        visibility: visible;
        @include transitionProperty;
      }
    }
  }

  &__info {
    width: 100%;
    height: 100%;
    background-color: rgba($purple-light, 0.9);
    color: $white;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
  }

  &__caption {
    @include absoluteCenter;

    a {
      color: $white;
    }

    h3 {
      font-size: 1.7rem;
      font-weight: bold;
      margin-bottom: 1rem;
    }

    p {
      font-size: 1.1rem;
    }
  }
}
