@use "../custom" as *;

.services {
  position: relative;
  padding: 1rem 0;

  h2 {
    i {
      color: $secondary;
    }
  }

  &__content {
    padding: 1rem;

    @include media-breakpoint-up(lg) {
      margin-top: 5rem;
    }

    .icon {
      font-size: 1.5rem;

      @include media-breakpoint-up(lg) {
        font-size: 2.5rem;
      }

      color: $primary;
    }

    p {
      font-size: 1rem;

      @include media-breakpoint-up(lg) {
        font-size: 1.1rem;
      }
    }
  }

  &__pic {
    max-width: 100%;
    margin-top: 4rem;
    display: grid;
    place-content: center;
  }
}
