@use "../custom" as *;

.skills {
  padding: 3rem 0;

  h2 {
    i {
      color: $secondary;
    }
  }
  &__logobox {
    max-width: 100%;
    margin-bottom: 3rem;
    text-align: center;

    @include media-breakpoint-down(sm) {
      max-width: 80%;
      margin: 0 auto 3rem auto;
    }

    img {
      height: 100%;
     
      &:hover {
        filter: grayscale(120);
      }
    }

  }
}
