@use "../custom" as *;
@use "../components/mixins" as *;

.btn-rounded {
  position: relative;
  padding: 0.9rem 3.5rem 0.9rem 1.2rem;
  margin: 0;
  font-weight: 500;
  border: 0.1rem solid rgba($color: #fff, $alpha: 0.6);
  background-color: #fff;

  span {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 5px;
    background-color: $primary;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
  }

  &:hover {
    @include gradient;
  }
  
}
