@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

body {
  font-family: "Nunito Sans", sans-serif;
}

.display-2 {
  padding-top: 2rem;
  line-height: 0.8;
  &--intro {
    font-weight: 700;
  }

  &--description {
    font-size: 1.5rem;
  }
}

h1 {
  line-height: 0.8;
}
