@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

body {
  font-family: "Nunito Sans", sans-serif;
}

.display-2 {
  margin-bottom: 1rem;
  text-transform: capitalize;
  
  &--intro {
    font-weight: 700;
    display: inline-block;
  }

  &--description {
    font-size: 1.5rem;
    display: block;
    margin-top: 1.2rem;
    text-transform: none;
  }
}


